@tailwind base;
@tailwind components;
.prodInfo {
    position: absolute;
    bottom: 0px;
    left: 10px;
    color: white;
    p{
        color:white;
        font-weight: bold;
    }
}
a.nav-brand img {
    max-width: 150px;
}
.hero-slider{
    height: 85vh;
    .slider-text-content{
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%)
    } 
}
@tailwind utilities;